---
import "../styles/global.css";
const { title } = Astro.props;
import { ClientRouter } from 'astro:transitions';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-900 text-slate-200 font-sans antialiased">
		<main class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
            <slot />
		</main>
        
        <footer class="text-center text-slate-500 py-8 text-sm">
            <p>© {new Date().getFullYear()} Your Name. Built with Astro.</p>
        </footer>
	</body>
</html>